head
	block head
		block title
			title Workbench - Catalog
		block meta
			meta(name='description', content='workbench catalog')
			meta(name='keywords', content='workbench catalog')
			meta(name='viewport', content='initial-scale=1, minimum-scale=1, width=device-width')
		link(rel='stylesheet', href='#{contextPath}/theme/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{contextPath}/theme/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='#{contextPath}/theme/css/jquery.qtip.min.css')
		link(rel='stylesheet', href='#{contextPath}/theme/css/workbench.css')
		block styles
