doctype html
html
	include header
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container
				include menu
		.container
			block content
			include footer
		script(src='#{contextPath}/theme/js/jquery/jquery-1.11.0.min.js')
		script(src='#{contextPath}/theme/js/bootstrap/bootstrap.min.js')
		script(src='#{contextPath}/theme/js/jquery/jquery.metisMenu.js')
		script(src='#{contextPath}/theme/js/jquery/jquery.qtip.min.js')
		script(src='#{contextPath}/theme/js/jquery/jquery.storage.js')
		script(src='#{contextPath}/theme/js/catalog/workbench.js')
		block scripts